.card
{
    display: inline-block;
    width: 235px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    text-align: center;
    border-radius: 1em;
    
    overflow: visible;
}

.container{
    padding: 2px 16px;
}

.card_image
{
    background-color: rgba(126, 126, 126, 0.25);
    
    height:180px;
    width:235px;
    object-fit: contain;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.card_star
{
    float: left;
}

.card_actions
{
    float:right;
}

.card_clearFloat
{
    clear: both;
}