.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(76, 135, 175);
  border: none;
  border-radius: 15px;
}

.button:disabled {
  background-color: #7a7a7a !important;
  cursor: not-allowed;
}

.button:hover {
  background-color: rgb(76, 99, 175);
}

.button:active {
  background-color: rgb(76, 99, 175);
  transform: scale(0.8);
}

.small{
  transform: scale(0.7);
}
.small:active{
  transform: scale(0.6);
}