.footer
{
    padding: 0px;
    width: 75%;
    height: 1em;
    background-color: aqua;
    vertical-align: center;
    text-align: center;
    align-items: center;
    margin: 15px auto;
    display:table;
    border-radius: 3em;
}

.footer_title
{
    display:table-cell;
    vertical-align:middle;
    font-size: 5em;
}