.image{
    margin: 5px;
    max-width: 1.5em;
    max-height: 1.5em;
    border-radius: 50%;
}

.image[disabled]
{
    cursor: not-allowed;
    opacity:0.5;
}

.image:hover {
    background-color: #00b7ff;
}

.image:active {
background-color: #2600ff;
transform: translateY(4px);
}